<p id="notice"><%= notice %></p>

<h1>Listing Visit Logs</h1>

<table>
  <thead>
    <tr>
      <th>Spot</th>
      <th>Weather</th>
      <th>Group kind</th>
      <th>Integer</th>
      <th>Season</th>
      <th>Integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visit_logs.each do |visit_log| %>
      <tr>
        <td><%= visit_log.spot_id %></td>
        <td><%= visit_log.weather %></td>
        <td><%= visit_log.group_kind %></td>
        <td><%= visit_log.integer %></td>
        <td><%= visit_log.season %></td>
        <td><%= visit_log.integer %></td>
        <td><%= link_to 'Show', visit_log %></td>
        <td><%= link_to 'Edit', edit_visit_log_path(visit_log) %></td>
        <td><%= link_to 'Destroy', visit_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit log', new_visit_log_path %>
